<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<!-- <meta charset="UTF-8"> -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/navigation.css">
<title></title>
</head>
<body>
	<div id="ngDiv1">
		<ul id="ngUl1">
			<li id="ngLi1"><a id="ngA1" href="selected.jsp">泛海拾贝</a></li>
			<li id="ngLi1"><a id="ngA1" href="special.jsp">热门专题</a></li>
<!-- 			<li id="ngLi1"><a id="ngA1" href="homepage.jsp">好友动态</a></li> -->
			<li id="ngLi1"><a id="ngA1" href="friendsDynamic.jsp">好友动态</a></li>
			<li id="ngLi1"><a id="ngA1" href="mypage.jsp">心灵港湾</a></li>
			<li id="ngLi1"><a id="ngA1" href="writepage.jsp">有感而发</a></li>
		</ul>
	</div>
</body>
</html>