<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <title>ddd</title>
  <script type="text/javascript" src="js/test.js">
  </script>
</head>

<body>

	<div id="d1">
		<h2>创建用户名</h2>
		<p>想要好友更快的记住您？请创建一个动听的用户名。</p>
		<input type='text' id="in1" name='username' class="rginput" size='25'
			maxlength='20' placeholder="用户名"> <br> 
		<span id="error1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<a href="javascript:void(0);" onclick="test()">下一步</a>
		<button type="button" onclick="test()">请求数据</button>
	</div>

</body>
</html>